.card {
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
}

.card input {
   appearance: textfield;

}

input::-webkit-inner-spin-button {
   display: none;
}

/* .iHave {
   padding: 10px;

}

.iWillGive {
   padding: 10px;

} */