.card {
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
}

.card input {
   appearance: textfield;

}

input::-webkit-inner-spin-button {
   display: none;
}
p{
   text-align: center;
}
.responseWindow {
   text-align: center;
   font-size: 50px;
}
.contentWrap{
   min-height: 280px;
   padding: 24px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100%;
}
